*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    overflow-wrap: break-word;
}

:root {
    /* Colors */
    --dark-gray: #24232c;
    --gray: #817d92;
    --white: #e6e5ea;
    --black: #18171f;
    --lime-green: #a4ffaf;
    --red: #f64a4a;
    --orange: #fb7c58;
    --yellow: #f8cd65;

    /* Typography */
    --heading-large: bold 2rem/2.6875rem "JetBrains Mono";
    --heading-medium: bold 1.5rem/1.9375rem "JetBrains Mono";
    --body: bold 1.125rem/1.4375rem "JetBrains Mono";
}

html {
    height: 100%;
    background: var(--black);
}

body {
    height: 100%;
    font-weight: bold;
    font-size: 1rem;
    font-family: "JetBrains Mono";
    color: var(--white);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.container {
    margin-block: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 540px;
    margin: auto;
}

.title {
    font-size: 1rem;
    color: var(--gray);
    text-align: center;
}

fieldset {
    background: var(--dark-gray);
    border: none;
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    /* flex-wrap: wrap; */
    position: relative;
}

.password {
    background: none;
    border: none;
    font: var(--heading-medium);
    color: var(--white);
}

.password::placeholder {
    opacity: 0.5;
}

.copy__container {
    margin-left: auto;
    height: 100%;
    display: flex;
    padding-inline: 1rem;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 0;
    background: var(--dark-gray);
}

.copied {
    color: var(--lime-green);
    font: var(--body);
}

.clipboard {
    background: none;
    border: none;
    color: var(--lime-green);
}

.clipboard:hover {
    color: var(--white);
    cursor: pointer;
}

.clipboard:focus {
    color: var(--white);
    outline: none;
}

.clipboard__icon {
    max-width: none;
    scale: calc(5 / 6);
}

.generator {
    padding: 1rem;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.length {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.length__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--value {
    font: var(--heading-medium);
    color: var(--lime-green);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    margin-block: 0.625rem;
    background: linear-gradient(
        to right,
        var(--lime-green) 0%,
        var(--lime-green) 50%,
        50%,
        var(--black) 100%
    );
    outline: none;
}

.slider:hover {
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    background: var(--white);
    border-radius: 50%;
}

.slider:focus::-webkit-slider-thumb,
.slider:hover::-webkit-slider-thumb {
    background: var(--black);
    border: 0.125rem solid var(--lime-green);
}

.slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    background: var(--white);
    border-radius: 50%;
}

.slider:focus::-moz-range-thumb,
.slider:hover::-moz-range-thumb {
    background: var(--black);
    border: 0.125rem solid var(--lime-green);
}

.slider::-ms-thumb {
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    background: var(--white);
    border-radius: 50%;
}

.slider:focus::-ms-thumb,
.slider:hover::-ms-thumb {
    background: var(--black);
    border: 0.125rem solid var(--lime-green);
}

.characters {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.characters__item {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.character__input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--black);
    outline: 0.125rem solid var(--white);
    outline-offset: -0.125rem;
    transition: all 0.3s ease-out;
}

.character__input:checked {
    outline: none;
    background: var(--lime-green);
    color: var(--black);
}

.character__input:hover,
.character__input:focus {
    outline: 0.125rem solid var(--lime-green);
    cursor: pointer;
}

.character__input:checked::before {
    content: "";
    display: inline-block;
    background-image: url("/assets/images/icon-check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.875rem;
    height: 0.75rem;
    margin: 0.3125rem 0.1875rem 0.1875rem 0.1875rem;
}

.character__input:checked:focus, 
.character__input:checked:hover {
    outline: 0.125rem solid var(--white);
}

.strength {
    background: var(--black);
    padding: 0.875rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strength__title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gray);
}

.strength__container {
    display: flex;
    gap: 1rem;
    height: 2rem;
}

.strength__value {
    font: var(--body);
    text-transform: uppercase;
}

.bars {
    width: 4rem;
    height: 1.75rem;
    display: flex;
    gap: 0.5rem;
}

.bar {
    width: 0.625rem;
    outline: 0.125rem solid var(--white);
    outline-offset: -0.125rem;
}

.submit {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    background: var(--lime-green);
    display: grid;
    justify-content: center;
    align-items: center;
}

.submit:hover, 
.submit:focus {
    background-color: var(--black);
    color: var(--lime-green);
    border: 0.125rem solid var(--lime-green);
    outline: none;
    cursor: pointer;
}

.submit__content {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.generate {
    color: inherit;
}

@media screen and (min-width: 40rem) {
    .form {
        gap: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
        margin-bottom: 0.4375rem;
    }

    .copy {
        padding: 1.25rem 2rem;
    }

    .password {
        font: var(--heading-large);
    }

    .copy__container {
        padding-inline: 2rem;
    }

    .clipboard__icon {
        scale: 1;
    }

    .generator {
        padding: 1.5rem 2rem;
    }

    label {
        font: var(--body);
    }

    .length {
        gap: 1rem;
    }

    .length--value {
        font: var(--heading-large);
    }

    .characters {
        gap: 1.25rem;
    }

    .strength {
        padding: 1.25rem 2rem;
    }

    .strength__title {
        font: var(--body);
    }

    .strength__value {
        font: var(--heading-medium);
    }

    .submit {
        padding: 1.25rem;
        margin-top: 2rem;
    }

    .generate {
        font: var(--body);
    }
}

.invisible {
    display: none;
}

.empty {
    opacity: 0.5;
}

.bars[data-strength="vulnerable"] .one {
    background: var(--red);
    outline: none;
}

.bars[data-strength="weak"] .two {
    background: var(--orange);
    outline: none;
}

.bars[data-strength="medium"] .three {
    background: var(--yellow);
    outline: none;
}

.bars[data-strength="strong"] .four {
    background: var(--lime-green);
    outline: none;
}
